html {
  background-color: #002C43; }

body {
  padding: 20px 0;
  font-family: Lucida Grande, Arial; }

#doc {
  background-color: white;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  padding: 10px 0;
  border: 6px solid #E1E1DA; }

.clear {
  clear: both; }

.example {
  color: #666; }

#logo {
  font-size: 197%;
  text-align: center;
  padding: 15px 0 10px 0;
  color: #238DB1;
  font-weight: bold; }

h2 {
  font-size: 108%;
  text-align: center;
  padding: 0 0 20px 0;
  font-weight: bold; }

.title {
  padding: 10px 45px;
  font-size: 131%;
  border-style: solid;
  border-color: #E1E1DA;
  border-width: 1px 0 1px 0;
  font-weight: bold;
  clear: both; }

#sectors-title {
  background: url(/images/munich-16x16/check.png) no-repeat #ECEFF5 20px 14px; }

#sectors-list ul {
  margin: 10px 20px; }
  #sectors-list ul li {
    float: left;
    width: 200px;
    font-size: 123.1%; }

#positions-title {
  display: none;
  background: url(/images/munich-16x16/hire-me.png) no-repeat #ECEFF5 20px 14px; }

#positions-list ul.positions {
  display: none;
  margin: 10px 20px; }
  #positions-list ul.positions .name {
    font-weight: bold;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
    margin-top: 10px;
    font-size: 116%; }
  #positions-list ul.positions li {
    float: left;
    width: 200px;
    font-size: 108%; }

#email {
  display: none; }
  #email .title {
    background: url(/images/munich-16x16/twitter.png) no-repeat #ECEFF5 20px 14px; }
  #email p {
    margin: 10px 20px; }

#confirmation {
  font-size: 197%;
  text-align: center;
  padding: 15px 0 10px 0;
  color: #238DB1;
  font-weight: bold; }
